<!-- Portfolio Section -->
<section class="page-section pb-0">
    <div class="relative">

        <h2 class="section-title font-alt mb-40 mb-sm-40">
            Description
        </h2>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-text align-center mb-70 mb-xs-40">
                        Un panneau solaire, encore appel&eacute; module photovolta&iuml;que, est un dispositif &eacute;nerg&eacute;tique constitu&eacute; &agrave; base de capteurs solaires thermiques ou photovolta&iuml;ques. Il destin&eacute; &agrave; convertir le rayonnement solaire en &eacute;nergie thermique ou &eacute;lectrique.
                        C&rsquo; est un assemblage de cellules connect&eacute;es en s&eacute;rie pour obtenir des tensions compatibles avec les charges &agrave; alimenter. On compte en g&eacute;n&eacute;ral entre 36 et 120 cellules en s&eacute;rie par panneau. Elles sont d&rsquo; une &eacute;paisseur extr&ecirc;mement faible : environ 0.2 mm. Un panneau solaire dispose d&rsquo; une part, d&rsquo; un vitrage pr&eacute;vu pour r&eacute;sister, sauf cas particuliers, &agrave; des conditions climatiques rudes comme le vent, la gr&ecirc;le, la neige et d&rsquo; autre part d&rsquo; une face arri&egrave;re qui sert &agrave; maintenir l&#39;&eacute;tanch&eacute;it&eacute; des cellules pour &eacute;viter leur oxydation.
                        Le tout est int&eacute;gr&eacute; &agrave; un cadre en aluminium pour augmenter la r&eacute;sistance, faciliter la manipulation et l&#39;installation.
                        Nous distinguons des panneaux solaires thermiques et des panneaux solaires photovolta&iuml;ques
                    </div>

                </div>

                <div class="col-md-8 col-md-offset-2">

                    <div class="section-text align-center mb-70 mb-xs-40">
                        -Les panneaux solaires thermiques :
                        Ces panneaux convertissent la lumi&egrave;re en chaleur. Ils sont souvent utilis&eacute;s dans des installations domestiques o&ugrave; ils sont reli&eacute;s &agrave; un chauffe-eau. Le flux solaire capt&eacute; par les panneaux est transform&eacute; en chaleur gr&acirc;ce &agrave; des capteurs solaires thermiques.
                        -Les panneaux solaires photovolta&iuml;ques :
                        Plus complexes, ils transforment la lumi&egrave;re du Soleil directement en &eacute;lectricit&eacute;. Cette &eacute;lectricit&eacute; est stock&eacute;e dans des bact&eacute;ries ou convertie par un ondulateur pour &ecirc;tre distribu&eacute; dans le r&eacute;seau.
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
<!-- End Portfolio Section -->

